/* Elements
--------------------------------------------------*/
body {
    font-family: 'droid-sans', sans-serif;
    font-size: 20px;
    line-height: 40px;
    font-style: normal;
    font-weight: 400;
    color: rgb(84, 84, 84);
    margin: 1em;
}


/* Headings */
h1 {
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    font-size: 60px;
    margin-bottom: 20px;
    color: rgb(255, 76, 76);
}

h2 {
    margin-top: 80px;
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    color: rgb(33, 33, 33);
}

h3 {
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 40px;
    color: rgb(33, 33, 33);
    font-size: 24px;
}


/* Links */
a, a:link, a:visited {
    color: rgb(122, 122, 122);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 216, 0);
}


/* Paragraphs */
p {
    text-indent: 0em;
    line-height: 40px;
}


/* Lists */
ul, ol{
    margin: 0;
}



/* Components
--------------------------------------------------*/
/* p */.intro { font-size: 24px; }

/* p */.intro a,
/* p */.intro a:link,
/* p */.intro a:visited {
    color: rgb(255, 216, 0);
    text-decoration: none;
}

/* p */.intro a:hover { color: rgb(226, 158, 0); }

/* div */.wrapper{
    max-width: 640px;
    margin: 0 auto;
}

.next-meetup{
    border: solid 1px #f9f9f9;
    padding: 1.2em 1.5em .5em;
    margin: 2em 0 0;
}

.next-meetup > h3{
    margin-top: 0;
}

.venue{
    display: block;
    margin-left: 1em;
    font-size: .875em;
    color: #939393;
}

.more-links{
    text-align: center;
    border-top: dotted 1px #d7d7d7;
    padding: .5em 0;
}

.more-links > span{
    display: inline-block;
    margin: 0 10px;
}

footer{
    margin-top: 60px;
    border-top: dotted 1px #d7d7d7;
    padding: 20px 0;
    text-align: center;
    font-size: .75em;
}